#about_blue {
  background-color: #6495ED;
  border: 3px solid;
}
#about_blue {
  margin-bottom: 20px;
}
#about_blue ul li{
  color: blue;
}
#about_yellow {
  border: 3px solid;
  background-color: #FFEBCD;
}
#about_yellow ul li{
  color: orange;
}
.important {
  font-weight: bold;
  font-size: 16px;
}
.nav li a {
  background-color: purple;
  color: white;
}
